.gradle/
build/
app/build/
.idea/
scripts/
CIXClient/
CIXClientTest/
CIXMarkup/
CIXMarkupTests/
CIXReader/
CIXReader_Mono.sln
CIXReader.sln
debian/
build.cmd
Building CIXReader.docx
HtmlRenderer/
IniFileParser/
NetSparkle/
NHunspellExtender/
NLua/
scripts/
Setup/
SQLite/
Tools/
version.bld/
ZipLib/
local.properties
*.iml
.DS_Store
